<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">
        <div class="card">
            <header class="main-header">
                <div class="brand">
                    <h1 class="name"><%= pageTitle %></h1>
                </div>
            </header>
        </div>
        <div class="password-reset">
            <div>Senha de "<%= usuario.username %>" alterada para:</div>
            <div class="space">
                <div class="new" id="novaSenha"><%= newPassword %></div>
                <div class="delete-icon" onclick="copy()">
                    <img src="/imgs/icons/copy.svg">
                </div>
            </div>
            <hdiv id="conf"></hdiv>
        </div>
    </div>
    <script>
        function copy() {
            var senha = document.getElementById('novaSenha')
            var conf = document.getElementById('conf')
            navigator.clipboard.writeText(novaSenha.innerHTML)
            conf.innerHTML = 'Copiado!'
        }
    </script>
  </body>
</html>