<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
            <div class="wrapper">
              <div class="card">
            <header class="main-header">
              <div class="brand">
                <a href="/unidade/<%= estrutura.unidade.id %>">
                  <div class="imagem-ficha">
                    <img src="<%= estrutura.unidade.img %>" alt="" class="logo">
                  </div>
                </a>
                <div class="unity-title">
                  <div class="espacamento"></div>
                  <a href="/edit-unidade/<%= estrutura.unidade.id %>"><h1 class="name"><%= estrutura.unidade.nome %></h1></a>
                    <div class="espacamento">
                      <% if(user.is_admin === 1){ %>
                        <a href="/add-tema/<%= estrutura.id %>" class="add-tema">+</a>
                      <% } %>
                    </div>
                </div>
              </div>
            </header>
            <main class="main-content">
                <a href="/edit-estrutura/<%= estrutura.id %>" class="item-name">
                  <h2><%= estrutura.nome %></h2>
                </a>
                <div class="scrolling-container">
                <% for(t of tema){ %>
                  <% var subs = [] %>
                  <section id="idv">
                    <div style="display: flex; justify-content: space-between; flex-flow: row nowrap;">
                      <a href="/edit-tema/<%= t.id %>"><div class="section-title"><%= t.nome %></div></a>
                      <% if(user.is_admin === 1){ %>
                        <a href="/add-subtema/<%= t.id %>" class="add-tema add-subtema">+</a>
                      <% } %>
                    </div>
                    <% for(s of subtema){
                      if(s.tema_id == t.id){
                        subs.push(s)
                      }
                    } %>
                    <% if(t.progresso != 0){ %>
                      <%
                        var total = subs.length
                        if(total > 0){
                          var corte = 0
                          for(s of subs){
                            if(s.sts == 'pronto'){
                              corte++
                            }
                          }
                          var porcentagem = (100 * corte) / total
                        } else {
                          var porcentagem = 0
                        }
                      %>
                      <div class="progress">
                        
                        <div class="progress-bar" role="progressbar" style="width: <%= porcentagem %>%" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    <% } %>
                    <ul class="items-list">
                      <% for(s of subs){%>
                        <li>
                          <a href="/edit-subtema/<%= s.id %>"><span class="item-name"><%= s.nome %></span></a>
                          <div class="status <%= s.sts %>"><%= s.sts %></div>
                        </li>
                      <% } %>
                    </ul>
                  </section>
                <% } %>
              </div>
            </main>
          </div>
          </div>
    <script src="" async defer></script>
  </body>
</html>