<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">
      <div class="card">
        <header class="main-header">
          <div class="brand">
            <h1 class="name"><%= pageTitle %></h1>
          </div>
        </header>
        <main class="main-content">
          <div class="scrolling-container">
            <% if(unidadeBool){ %>

              <!-- ADICIONAR UNIDADE -->
              <form class="input-form" action="<%= edit ? '/edit-unidade' : '/add-unidade' %>" method="POST" enctype="multipart/form-data" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" value="<%= edit ? unidade.nome : '' %>" required>
                <h2>Imagem:</h2>
                <input type="file" name="imagem">
                <br><br><br><br><br>
                <% if(edit){ %>
                  <input type="hidden" value="<%= unidade.id %>" name="unidadeId">
                <% } %>
                <input class="confirma" type="submit">
              </form>
              <% if(edit){ %>
                <form action="/delete-unidade" method="POST">
                  <input type="hidden" name="unidadeId" value="<%= unidade.id %>">
                  <button class="excluir" type="submit">Deletar</button>
                </form>
              <% } %>

            <% } else if(temaBool){ %>

              <!-- ADICIONAR TEMA -->
              <form class="input-form" action="<%= edit ? `/edit-tema` : `/add-tema` %>" method="POST" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" value="<%= edit ? tema.nome : '' %>" required><br>
                <h2>Barra de Progresso:</h2>
                <input type="checkbox" name="progressbar" <%= edit ? (tema.progresso == 1 ? 'checked' : '') : '' %>>
                <input type="hidden" name="unidadeId" value="<%= unidade %>">
                <% if(edit) { %>
                  <input type="hidden" name="temaId" value="<%= tema.id %>">
                <% } %>
                <br><br><br><br><br>
                <input class="confirma" type="submit">
              </form>
              <% if(edit){ %>
                <form action="/delete-tema" method="POST">
                  <input type="hidden" name="unidadeId" value="<%= unidade %>">
                  <input type="hidden" name="temaId" value="<%= tema.id %>">
                  <button class="excluir" type="submit">Deletar</button>
                </form>
              <% } %>

            <% } else { %>

              <!-- ADICIONAR SUBTEMA -->
              <form class="input-form" action="<%= edit ? `/edit-subtema` : `/add-subtema` %>" method="POST" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" required value="<%= edit ? `${subtema.nome}` : `` %>"><br>
                <h2>Progresso:</h2>
                <select name="sts">
                  <option <%= edit ? (subtema.sts == 'inexistente' ? 'selected' : '') : '' %> value="inexistente">Inexistente</option>
                  <option <%= edit ? (subtema.sts == 'andamento' ? 'selected' : '') : '' %> value="andamento">Andamento</option>
                  <option <%= edit ? (subtema.sts == 'pronto' ? 'selected' : '') : '' %> value="pronto">Pronto</option>
                </select>
                <% if(!edit){ %>
                  <input type="hidden" name="temaId" value="<%= tema.id %>">
                <% } else { %>
                  <input type="hidden" name="subtemaId" value="<%= subtema.id %>">
                <% } %>
                <input type="hidden" name="unidadeId" value="<%= unidade %>">
                <br><br><br><br><br>
                <input class="confirma" type="submit">
              </form>
              <% if(edit){ %>
                <form action="/delete-subtema" method="POST">
                  <input type="hidden" name="unidadeId" value="<%= unidade %>">
                  <input type="hidden" name="subtemaId" value="<%= subtema.id %>">
                  <button class="excluir" type="submit">Deletar</button>
                </form>
              <% } %>
            <% }%>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>