<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">
      <div class="card">
        <header class="main-header">
          <div class="brand">
            <h1 class="name"><%= pageTitle %></h1>
          </div>
        </header>
        <main class="main-content">
          <div class="scrolling-container">
            <% if(unidadeBool){ %>
              <form class="input-form" action="/add-unidade" method="POST" enctype="multipart/form-data" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" required>
                <h2>Imagem:</h2>
                <input type="file" name="imagem" required>
                <br><br><br><br><br>
                <input type="submit">
              </form>
            <% } else if(temaBool){ %>
              <form class="input-form" action="/add-tema" method="POST" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" required><br>
                <h2>Barra de Progresso:</h2>
                <input type="checkbox" name="progressbar" chacked="true">
                <input type="hidden" name="unidadeId" value="<%= unidade.id %>">
                <br><br><br><br><br>
                <input type="submit">
              </form>
            <% } else { %>
              <form class="input-form" action="/add-subtema" method="POST" autocomplete="off">
                <h2>Título:</h2>
                <input type="text" name="nome" required><br>
                <h2>Progresso:</h2>
                <select name="sts">
                  <option value="inexistente">Inexistente</option>
                  <option value="andamento">Andamento</option>
                  <option value="pronto">Pronto</option>
                </select>
                <input type="hidden" name="temaId" value="<%= tema.id %>">
                <input type="hidden" name="unidadeId" value="<%= unidade %>">
                <br><br><br><br><br>
                <input type="submit">
              </form>
            <% }%>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>